<form action="{{ SITE_URL }}/amostra/{{ sample.id }}/rejeitar" method="post" class="container bg-white p-0 m-0">
    <p class="mt-2 px-4">
        Rejeitar amostra "{{ sample.register }}: {{ sample.name }}" de {{ sample.author }} (ID: {{ sample.authorId }})?
    </p>
    <div class="mb-3 px-4">
        <label for="feedback" class="form-label">Feedback</label>
        <input name="feedback" class="form-control" list="commonAnswers" id="feedback" placeholder="Informe o motivo para rejeitar." required></input>
    </div>
    <div class="modal-footer px-4">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>