{% extends "templates/registrationForm.html.twig" %}
{% set title = 'Cadastro de ocorrência'|capitalize %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Registro de coleta</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item mx-1">
    <a role="button" id="tabGeral" class="nav-link active" aria-current="page" href="#">Geral</a>
  </li>
  <li class="nav-item mx-1">
    <a role="button" id="tabColetas" class="nav-link" href="{{ SITE_URL }}/registros/{{ id }}/amostras">Coletas</a>
  </li>
</ul>

<form action="{{ SITE_URL }}/registros/{{ id }}/atualizar" method="post" class="container bg-white p-2">
  <div class="row  bg-white">
    <div id="formGeral" class="col-md-7 col-lg-8">
      <p class="h5">Informações gerais do registro</p>
      <div class="col-12">
        <label for="registerName" class="form-label mt-2">Nome do registro</label>
        <input type="text" class="form-control" id="registerName" name="registerName" placeholder='Ex: "monitoramento da praia X", "Estudo Y", "Coletas Z".' value="{{ name }}" required>
      </div>
      
      <div class="col-12">
        <label for="description" class="form-label mt-2">
          Descrição do registro (Ex: Motivações, objetivos, equipamentos, metodologia)
        </label>
        <textarea type="text" class="form-control" id="description" name="description" style="height: 8vw" required>{{ description }}</textarea>
      </div>

      <div class="col-12">
        <label for="registerName" class="form-label mt-2">Referência (opcional)</label>
        <input type="text" class="form-control" id="reference" name="reference" placeholder='Ex: "Laboratório X", "https://example.com" , referência bibliográfica' value="{{ reference }}">
      </div>
      
      <hr class="my-4 my-4">

      <button type="button" onclick="showTerm()" class="w-100 btn btn-primary btn-lg">
        Salvar dados e continar o cadastro
      </button>

      <dialog id="term" class="h-75 w-75">
        <div class="d-flex flex-column justify-content-around w-100 h-100">
          <span class="border-bottom py-2">
            <h2 class="text-center">
              Atenção!
            </h2>
            Para continuar o cadastro, você confirma estar de acordo com os <a href="{{ SITE_URL }}/termos/responsabilidades-do-usuario" target="_blank" rel="noopener noreferrer">Termos de Responsabilidades do Usuário</a>, assim como exibido a seguir:
          </span>
          <iframe src="{{ SITE_URL }}/termos/responsabilidades-do-usuario" alt="Termos de Responsabilidades do Usuário" class="h-50 w-100">
            {{ include('pages/terms/UserResponsibility-2022.html.twig') }}
          </iframe>
          <div class="border-top d-flex flex-row justify-content-around py-2 w-100">
            <div id="formAlert" class="d-none alert alert-danger" role="alert">
              * É necessário preencher o formulário corretamente para prosseguir.
            </div>
            <button type="button" onclick="closeTerm()" class="btn btn-secondary ml-auto px-2 mx-1">
              Não concordo
            </button>
            <button type="submit" onclick="showAlert()" class=" btn btn-primary px-2 mx-1">Concordo</button>
          </div>
        </div>        
      </dialog>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
<script>
  function showTerm() {
    const modal = document.getElementById("term");
    modal.showModal()
  }

  function closeTerm() {
    const modal = document.getElementById("term");
    modal.close()
  }

  function showAlert() {
    const alert = document.getElementById("formAlert"); 
    setTimeout(() => {
      alert.classList.remove("d-none");
    }, "1000") // delay for 1 seconds
  }
</script>
{% endblock %}