{% extends "templates/default.html.twig" %}

{% set title = 'Criar conta de usuário' %}
{% set loginActivated = 'actived' %}

{% block head %}
<script type="text/javascript" src="{{SITE_URL}}/js/confirmPassword.js"></script>
{% endblock %}

{% block content %}
<article class="card border-secundary mb-3 mt-4 mx-auto col-5">
    <h1 class="card-header h4">Formulário de cadastro</h1>
    <section class="card-body">
        {% if alert == 'email already exist' %}
            <div class="alert alert-danger alert-dismissible fade show"  role="alert">
                <span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    E-mail já está sendo usado!
                </span>
            </div>
        {% endif %}
        <form action="{{ SITE_URL }}/criar-conta" method="post">
            <div class="mt-2">
                <label for="username" class="form-label">Nome</label>
                <input type="text" class="form-control" id="username" name='username' placeholder="Seu Nome Completo" autocomplete="name" maxlength="50" required>
            </div>
            <div class="mt-2">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="seu.email@gmail.com" autocomplete="username" maxlength="255" required>
            </div>
            <div class="mt-2">
                <label for="password" class="form-label">
                    Senha 
                    <button type="button" class="btn btn-sm px-1 py-0 btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    ?
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Senha</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                A senha pode ser formada por qualquer tipo de caracteres (letras, números ou símbolos). 
                                A única limitação é que a senha deve ser longa ou complexa o suficiente para ser considerada 
                                segura. Apesar de não ser recomendado, a plataforma não te impede de usar dados pessoais 
                                (como nome, idade, e-mail, etc) na senha ou utilizar senhas comuns (tais como "felicidade",
                                "minhasenha", "senha123", "123mudar"). Cabe ao usuário decidir uma senha adequada para não 
                                ter a conta roubada. É recomendado que use uma senha aleatória e única para acessar esta conta.
                            </p>
                            <p>
                                A força da senha é calculado com base no tempo em que uma máquina levaria para acertar 
                                a senha através de <a target="_blank" href="https://pt.wikipedia.org/wiki/Ataque_de_for%C3%A7a_bruta">força bruta</a>. 
                                Cada classificação leva em conta o investimento no equipamento do atacante, no tempo gasto e considerando 
                                que o atacante tem acesso direto à sua senha, assim como listado em baixo:
                            </p>
                            <ul>
                                <li><strong>Senha vulnerável:</strong> Menos de 6 meses com equipamento lento<li>
                                <li><strong>Senha fraco:</strong> Menos de 12 meses com equipamento lento<li>
                                <li><strong>Senha mediana:</strong> Menos de 1 meses com equipamento rápido<li>
                                <li><strong>Senha boa:</strong> Menos de 3 meses com equipamento rápido<li>
                                <li><strong>Senha ótima:</strong> Menos de 6 meses com equipamento rápido<li>
                                <li><strong>Senha segura:</strong> Menos de 12 meses com equipamento rápido<li>
                                <li><strong>Senha bem segura:</strong> Mais de 12 meses com equipamento rápido<li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>

                </label>
                <input type="password" class="form-control" id="password"  name='password' placeholder="Insira a sua senha" autocomplete="current-password" maxlength="255" required>
            </div>
            <div class="mt-2">
                <label for="confirmPassword" class="form-label">Confirme sua senha</label>
                <input type="password" class="form-control" id="confirmPassword" name='confirmPassword' placeholder="Digite a sua senha novamente" autocomplete="current-password" maxlength="255" required>
            </div>

            <small id="message">Força da senha</small>
            <div class="progress" style="height:18px;margin:5px;">
                <div id="passwordBar"class="progress-bar"></div>
            </div>
            <small>
                Já possui uma conta? <br>
                <a href="{{ SITE_URL }}/login">Faça login.</a>
            </small>
            <hr>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="" id="privacyPolicy" required>
                <label class="form-check-label" for="privacyPolicy">
                    Li e concordo com a  
                    <a data-bs-toggle="modal" href="#" data-bs-target="#staticBackdrop">política de privacidade</a>
                     da plataforma.
                </label>
            </div>
            <input id="submit" class="btn btn-primary" type="submit" value="Finalizar cadastro">
        </form>        
    </section>
</article>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 50vw;">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">política de privacidade</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              A política de privacidade também pode ser acessado no seguinte link: 
              <a href="{{ SITE_URL }}/termos/politica-de-privacidade" target="_blank" rel="noopener noreferrer">
              política de privacidade</a>.
              <hr>
              {{ include('pages/terms/privacy-policy-2022.html.twig') }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não concordo</button>
              <button type="submit" class="btn btn-primary">Concordo</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}